.multiselector-subst * {
    box-sizing: border-box;
}

.multiselector-subst {
    --multiselector-subst-max-width : 500px;
    --multiselector-subst-min-width : 10rem;
    --multiselector-subst-p-height : 2rem;
    --multiselector-subst-ul-max-height : 20rem;
    --multiselector-subst-ul-z-index : 5000;
}

.multiselector-subst {
    position: relative !important;
    display: block;
    max-width: 500px;
    max-width: var(--multiselector-subst-max-width);
    min-width: 10rem;
    min-width: var(--multiselector-subst-min-width);
}

.multiselector-subst .instruction {
    position: relative;
    color: gray;
    margin: 0;
    padding: 0 1em;
    font-size: 0.9em;
}

.multiselector-subst .selected-items-div span {
    position : relative !important;
    display: inline-block;
    margin: 0.1em 0.1em;
    border: 1px solid gray;
    border-radius: 1rem;
    padding: 0.1em 1.3em 0.1em 1em;
}

.multiselector-subst .selected-items-div span.preselected::before, .multiselector-subst .instruction.for-preselected::before {
    content: "";
    position: absolute !important;
    top: 50%;
    left: 0.5em;
    transform: translate(-50%, -50%);
    height: 0.5em;
    width: 0.5em;
    border-radius: 100%;
    background-color: gray;
}

.multiselector-subst .multiselector-subst-selecter {
    height: var(--multiselector-subst-p-height);
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 0.2rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    cursor: pointer;
    max-width: 100%;
    width: fit-content;
    overflow-x: hidden;
    user-select: none;
    background-color: rgb(235, 235, 235);
}

.multiselector-subst .multiselector-subst-selecter input{
    height: 100%;
    font-size: 1rem;
    border: none;
    padding: 0.2rem;
}

.multiselector-subst .multiselector-subst-selecter svg{
    height: 1rem;
    width: 1rem;
    margin: 0.1rem 0.5rem;
}

.multiselector-subst.active .multiselector-subst-selecter svg{
    transform: rotate(180deg);
}

.multiselector-subst ul {
    display: none !important;
    position: absolute !important;
    top: 100%;
    margin: 0;
    list-style: none;
    padding: 0 0.2rem;
    border: 2px solid black;
    /* border-top: none; */
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 100%;
    background-color: white;
    max-height: var(--multiselector-subst-ul-max-height);
    overflow-y: auto;
}

.multiselector-subst.active ul {
    display: block !important;
    z-index: var(--multiselector-subst-ul-z-index);
}

.multiselector-subst li {
    display: flex !important;
    user-select: none;
    cursor: pointer;
    padding: 0.5rem 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.multiselector-subst li.hidden {
    display: none !important;
}

.multiselector-subst li span {
    display: inline-block;
    height: 1em;
    width: 1em;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    margin-right: 1rem;
}

.multiselector-subst li.selected span {
    background-color: blue;
}
